<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List of users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Список пользователей</h1>
<div>
    <nobr>
        <a th:href="@{/admin/add}">Добавить пользователя</a>
    </nobr>
</div>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Email</th>
            <th>Роль</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        <tr th:each ="user : ${listUsers}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getFirstName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getAge()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
            <td th:utext="${user.getRole()}">...</td>
            <td><a th:href="@{/user-update/{id}(id=${user.getId})}">Изменить</a></td>
            <td><a th:href="@{/delete(id=${user.getId()})}">Удалить</a></td>
        </tr>
    </table>
</div>
</body>
</html>